body {
    background-color: #080a0a;
}

h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.passwords{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.passwords:focus{
    outline: none;
}
.passwords {
    padding: 5px 10px;
    background-color: #fcfcfc ;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    padding: 5px;
    margin: 10px;
    color: black;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

footer{
    display: flex;
    text-align: center;
    padding: 20px;
}
a{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px auto;

}